# MongoDB connection settings
# Use MongoDB Atlas or your local MongoDB instance.
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/?retryWrites=true&w=majority
DB_NAME=sales_db
COLLECTION_NAME=transactions
